.pin-info {
    position: relative;
    display: inline-block;
    border-radius: 100%;
    cursor: pointer;
    z-index: 99;
}

.pin-info .trim-path-container {
    position: absolute;
    cursor: default;
}

.trim-path-container.path-r {
    left: 100%;
    bottom: calc(50% - 3px);
    transform: translate(0px, 50%);
}

.trim-path-container.path-l {
    right: 100%;
    bottom: calc(50% - 3px);
    transform: translate(0px, 50%);
}

.trim-path-container.path-t {
    bottom: 100%;
    right: 50%;
    transform: translateX(50%);
}

.trim-path-container.path-b {
    top: 100%;
    right: 50%;
    transform: translateX(50%);
}

.pin-info-message {
    display: inline-block;
    position: absolute;
    opacity: 0;
    transition: all 1s ease-out;
    transition-delay: .5s;
    width: 0;
    margin: 0;
}

.trim-path-container.path-r .pin-info-message {
    transform: translate(0, -50%);
}

/* animation stuff */

.pin-info .trim-path polyline {
    stroke-dasharray: 120;
    stroke-dashoffset: 120;
    transition: 1s all ease;
}

.pin-info .trim-path-container.active .trim-path polyline {
    stroke-dashoffset: 0;
}

.trim-path-container.active .pin-info-message {
    opacity: 1;
    width: 150px;
}